
# Common aliases
if command -v nvim &> /dev/null; then
  alias vim='nvim'
fi
# Alias for `bat` if available, fallback to `cat`
#if command -v bat &> /dev/null; then
#  alias cat='bat --color=always --paging=never'
#fi

# Docker
alias docker_stop_containers='docker stop $(docker ps -aq) || true'
alias docker_prune_containers='docker_stop_containers && docker rm $(docker ps -aq) || true'
alias docker_prune_images='docker rmi --force $(docker images -q) || true'
alias docker_prune_volumes='docker volume rm $(docker volume ls -q) || true'
alias docker_quit=$'echo "Stopping OrbStack..." && orbctl shutdown && osascript -e \'quit app "OrbStack"\''

alias docker_nuke="docker_prune_containers && docker_prune_images && docker_prune_volumes && docker system prune -af --volumes && docker_quit"

# Replace ls with eza
if command -v eza &>/dev/null; then
    # preferred listing
    alias ls='eza --color=always --group-directories-first --icons'
    # all files and dirs
    alias la='eza -a --color=always --group-directories-first --icons'
    # long format
    alias ll='eza -l --color=always --group-directories-first --icons'
    # tree listing
    alias lt='eza -aT --color=always --group-directories-first --icons'
fi

# Kubernetes
alias k='kubectl'
alias frk='flux reconcile kustomization'
alias fgk='flux get kustomizations'

# Sync Quartz
alias qdeploy='cd ~/Code/temp/quartz/ && npx quartz sync'
alias qserve='cd ~/Code/temp/quartz/ && npx quartz build --serve'
